.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* --- Styling for the header --- */
.header {
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  height: 16vh;
  border-radius: 0 0 24px 24px;
  background-color: var(--main-color);
}

.header-title {
  font-family: var(--font-family);
  font-weight: var(--header1-font-weight);
  font-size: calc(var(--header2-font-size) * 0.7);
  line-height: 1.2rem;
  margin: 0 40px;
  color: white;
  cursor: pointer;
}

.header-title span {
  font-weight: calc(var(--header1-font-weight) * 0.9);
  font-size: calc(var(--header2-font-size) * 0.6);
}

.account-button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

/* ---------------------------- */

.login-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  height: 100%;
  padding: 10px 12vw 40px 12vw;
  margin: 20px 0 40px 0;
}

.login-title {
  font-family: var(--font-family);
  font-size: var(--header1-font-size);
  font-weight: var(--header2-font-weight);
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.login-form {
  padding: 20px 0;
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-label {
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  font-weight: var(--key-info-font-weight);
  color: var(--secondary-text-color);
  margin: 0px 6px;
  text-align: left;
  width: 100%; /* Full width for alignment */
}

.form-input {
  width: 100%; /* Full width for alignment */
  padding: 10px;
  font-family: var(--font-family);
  font-size: var(--paragraph-font-size);
  color: var(--secondary-text-color);
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-bottom: 25px;
  margin-top: 4px;
  background-color: #fff;
  transition: border 0.3s ease;
}

.form-button {
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-size);
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  margin: 20px 0 0 0 ;
}

.signin-button-container{
  text-align: center;
}

/* Twitter Button black shade*/
.twitter-signin-button {
  background-color: #000000;
}

.twitter-signin-button:hover {
  background-color: #2f3132;
}

/* Icon Styling */
.button-icon {
  width: 16px; /* Make the icon smaller */
  height: 16px; /* Match the height */
  margin-right: 8px; /* Spacing between icon and text */
  vertical-align: middle;
}

#google-button {
  background-color: #fff;
  border: var(--main-color) 2px solid;
  color: var(--main-color);
}

.error-message {
  margin-top: 10px;
  color: #ff4d4d;
  font-size: 0.9rem;
}

.toggle-message {
  margin: 20px 0;
  font-size: 0.9rem;
  font-family: var(--font-family);
  color: var(--secondary-text-color);
  text-align: center;
}

.toggle-link {
  color: var(--main-color);
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #0056b3;
}
