# Ignore Firebase configuration
frontend/src/firebase.js
frontend/src/firebase.ts
# Ignore backend service account key
backend/firebase-admin.json

# DS Store Files
*.DS_Store

# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env
