.location-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px; /* Increased margin for better spacing */
    padding: 20px; /* Add padding for inner spacing */
}
  
.title {
  font-size: var(--logo-font-size); /* Larger logo for emphasis */
  font-weight: var(--logo-font-weight);
  color: var(--main-color);
  line-height: 2.2rem; /* Spacing between logo lines */
  margin-bottom: 20px; /* More space below the title */
  text-align: center;
}
.title span {
  font-size: calc(var(--logo-font-size) * 0.6); /* Calculated based on logo font size */
}

#selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh; /* Full height for container */
  margin: 30px 0; /* Increased margin for better spacing */
}

.label {
  font-size: var(--key-info-font-size);
  font-weight: var(--key-info-font-weight);
  color: var(--secondary-text-color); 
  margin-bottom: 20px; /* Increased margin for separation */
  text-align: center;
}

.dropdown {
  width: 75vw; /* Wider dropdown for better usability */
  padding: 10px; /* More padding for comfort */
  font-size: var(--paragraph-font-size); /* Font size remains the same */
  color: var(--secondary-text-color); /* Dark text for readability */
  border: 3px solid #151515; /* Border remains */
  border-radius: 10px; /* Slightly rounded corners */
  background-color: #fff; /* White background for dropdown */
  cursor: pointer;
  transition: border 0.3s ease; /* Smooth border transition */
}
/* Dropdown focus effect */
.dropdown:focus {
  border: 3px solid var(--main-color); /* Blue border on focus */
  outline: none; /* Remove default outline */
}
/* Styling for dropdown options */
.dropdown option {
  padding: 10px;
}

.next-button {
  width: 20vw;
  text-align: center;
  padding: 15px 0;
  background-color: var(--main-color); /* Primary blue color */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  margin-top: 30px; /* Increased space above the button */

  color: #fff; /* Text color */
  font-size: var(--button-font-size); /* Font size */
  font-weight: var(--button-font-weight);
  
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transition for background and scale */
  display: inline-block; /* Ensure proper button display */
}

/* Hover effect */
.next-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Active effect */
.next-button:active {
  background-color: #004494; /* Even darker blue when active */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Change shadow on click */
  transform: translateY(1px); /* Slight depression effect on click */
}
  