.active-view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.active-view p {
    font-size: var(--key-info-font-size);
    font-weight: var(--header2-font-weight);
    color: var(--main-text-color);
}

.court-selection-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.court-selection {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
  
.court-selection h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}
  
.court-selection p {
    font-size: var(--paragraph-font-size);
    color: #555;
    margin-bottom: 20px;
}
  
.court-selection label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--paragraph-font-size);
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
}

.court-selection input[type="checkbox"] {
    appearance: none; /* Hide the default checkbox */
    width: 22px;
    height: 22px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.court-selection input[type="checkbox"]:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.court-selection input[type="checkbox"]:checked::after {
    content: '✔'; /* Unicode checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: white;
}
  
.court-selection-buttons {
    display: flex;
    justify-content: space-around;
}
  
.court-confirm-button {
    margin-top: 16px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: var(--button-font-weight);
    transition: background-color 0.3s ease;
}
  
.court-confirm-button:hover {
    background-color: #fff; /* Darker on hover */
    border: var(--main-color) 3px solid; /* Border on hover */
    color: var(--main-color);
    transition: 0.35s;
    transform: translateY(-2px); /* Slight lift effect on hover */
}