.active-view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.active-view p {
    font-size: var(--key-info-font-size);
    font-weight: var(--header2-font-weight);
    color: var(--main-text-color);
}
