/* Full-screen overlay for the modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content box */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Modal message */
  .modal-content h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }
  
  .modal-content p {
    font-size: var(--paragraph-font-size);
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Buttons for confirmation and cancellation */
  .modal-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .modal-confirm-button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .modal-confirm-button:hover {
    background-color: #fff; /* Darker on hover */
    border: var(--main-color) 3px solid; /* Border on hover */
    color: var(--main-color);
    transition: 0.35s;
    transform: translateY(-2px); /* Slight lift effect on hover */
  }
  
  .modal-cancel-button {
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .modal-cancel-button:hover {
    background-color: #999;
  }
  