.active-view, .current-state {
  all: revert; /* Reset all CSS properties from active-view and current-state components */
}

.players-list-container {
  overflow-y: auto; /* Horizontal scrolling */
  display: flex;
  flex-direction: column;
}

/* Section titles */
.players-list-title {
  font-size: calc(var(--header2-font-size) * 0.9);
  font-weight: var(--header1-font-weight);
  color: var(--main-text-color);
  margin-bottom: 15px;
}

/* Queue Players Section */
.players-section {
  padding: 10px 20px;
  border-radius: 8px;
}

#queue-players {
  margin-bottom: 40px;
}

#active-players {
  margin-top: 10px;
}

.player-list {
  display: flex;
  flex-direction: column;
}

/* Empty queue message */
.empty-queue-message {
  text-align: center;
  font-size: 1.1rem;
  color: #666;
  padding: 10px;
}