.rectangle-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: #f9f9f9; /* Light background */
  border-radius: 10px;
  padding: 6px 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 14px 0;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
  flex: 1 1 20%; /* Each rectangle will take up 20% of the available width */

}

.dots-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}

.action-button {
  padding: 6px 12px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
}

.action-button:hover {
  background-color: #fff; /* Darker on hover */
  border: var(--main-color) 3px solid; /* Border on hover */
  color: var(--main-color);
  transition: 0.35s;
  transform: translateY(-2px); /* Slight lift effect on hover */
}

.action-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 900; /* Ensure it's always on top */
  background-color: #f9f9f9;
  padding: 16px 12px;
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}
